/node_modules/
/public/assets/
/.sass-cache/

###> symfony/framework-bundle ###
.env.*local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
