.badge {
	background-color: #ddd;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 40px;
	font-size: 0.7em;
	padding: 5px 10px;


	.ui-state-active & {
		background-color: #ccc;
	}

	&.badge__draft, &.badge__default {
		background-color: #900;
	}

	&.badge__scheduled {
		background-color: #393;
	}

	&.badge__private {
		background-color: #f70;
	}
}
