ul.contextual-menu {
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 0px 20px 0px;
  color: #fff;
  //display: none;
  list-style-type: none;
  margin: 0;
  padding: 3px;
  position: absolute;
  width: 13em;
  z-index: 5;

  li {
    padding: 0 5px;

    span {
      display: inline-block;
      /*height: 1.8em;*/
      padding-left: 5px;
      vertical-align: middle;
      width: 6em;
    }

    &.divider {
      content: ' ';
      padding: 10px;
    }
  }

  .button {
    background: none;
    border: none;
    color: #eee;
    margin: 0;
    text-align: left;
    width: 100%;

    span {
      padding-left: 0;
      width: auto;
    }

    &:hover {
      background-color: #069;
    }
  }

  .error {
    display: none;
  }
}
