.widget-data-list {
  article {
    background-color: #eee;
    margin: 1px 20px;
    padding: 10px;
    width: 90%;

    strong {
      padding-left: 10px;
    }
    span {
      padding: 0 10px;
    }
    em.date {
      text-align: right;
    }
  }
}