$pagination-border-radius: 5px;

.pagination {
  display: flex;
  list-style-type: none;
  padding-left: 15px;

  .page-item {
    display: table-cell;
    list-style-type: none;
    margin-left: -1px;

    &:first-child {
      .page-link {
        border-radius: $pagination-border-radius 0 0 $pagination-border-radius;
      }
    }
    &:last-child {
      .page-link {
        border-radius: 0 $pagination-border-radius $pagination-border-radius 0;
      }
    }

    &.active .page-link {
      background-color: $admin__tabs__highlighted-color;
      color: $admin__tabs-background;
    }

    &.disabled .page-link {
    }

    &.current a, &.current a:visited {
      background-color: $admin__tabs__highlighted-color;
      color: $admin__tabs-background;
    }
  }
  .page-link {
    border: 1px solid #999;
    color: #333;
    display: block;
    padding: .5em .75em;
    text-decoration: none;

    &:hover {
      background-color: #333;
      color: #fff;
    }

    &:focus {
      background-color: $admin__tabs__highlighted-color;
      color: $admin__tabs-background;
    }

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }
  .pagination-spacer {
    color: #999;
    display: block;
    padding: .5em .75em;
  }
}
