.content__edit {
    margin-bottom: 45px;

    a, a:visited {
        color: #666;
        text-decoration: none;
        vertical-align: middle;
    }
    input {
        border: none;
        border-bottom: 1px solid transparent;
        outline: none;

        &:focus, &:active {
            border-bottom: 1px solid #eee;
        }

        &.halfwidth {
            width: 40%;
        }
    }

    label {
        color: #999;
        //text-transform: uppercase;

        &.date-range__label {
            display: inline-flex;
            font-size: 0.75em;
            text-transform: uppercase;
            width: 49%;
        }
    }

    .editor__title {
        font-size: 1.4em;
    }
    .editor__sub-title {
        font-size: 1.2em;
    }
}
