.content__edit {
    margin-bottom: 45px;

    .editor__title {
        font-size: 1.4em;
    }
    .editor__sub-title {
        font-size: 1.2em;
    }
}
.content__edit, .ui-dialog form {
    a, a:visited {
        color: #666;
        text-decoration: none;
        vertical-align: middle;
    }
    input {
        border: none;
        border-bottom: 1px solid transparent;
        outline: none;

        &:focus, &:active {
            border-bottom: 1px solid #eee;
        }
    }

    input, textarea {
        &.halfwidth {
            width: 40%;
        }
        &.full-width {
            width: 97%;
        }
    }

    label {
        color: #999;
        display: block;

        &.date-range__label {
            display: inline-flex;
            font-size: 0.75em;
            text-transform: uppercase;
            width: 49%;
        }

        &.inline_label {
            display: inline;
        }
    }
}
.edit__list {
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            background: #eee;
            margin: 5px 0;
            padding: 5px;

            input[type=checkbox] {
                display: inline;
                width: auto;
            }
            label {
                display: inline;
            }
        }
    }
 }
.ui-dialog form {
    input {
        border: 1px solid #999;
    }
}

.image_preview {
    text-align: center;

    .form__series & {
        float: right;
    }

    img {
        border: 1px solid #999;
        display: block;
        margin: 0 auto 10px auto;
        padding: 2px;
        width: 250px;

        &.preview__small {
            width: 100px;
        }
    }
}

#track_changes {
    border: 1px solid #eee;
    margin: 10px;

    p {
        margin: 3px;
        padding: 5px;
    }

    ins {
        text-decoration: none;
        &, p {
            background-color: rgb(181, 239, 219);
        }
        & p:before {
            content: '+';
        }
    }
    del {
        text-decoration: none;
        &, p {
            background-color: rgb(255, 196, 193);
        }
        & p:before {
            content: '-';
        }
    }
    .change_block {
        background-color: #eee;
        margin: 10px 3px;
        padding: 3px 0;
    }
}
