.content__edit {
    margin-bottom: 45px;

    .editor__title {
        font-size: 1.4em;
    }
    .editor__sub-title {
        font-size: 1.2em;
    }
}
.content__edit, .ui-dialog form {
    a, a:visited {
        color: #666;
        text-decoration: none;
        vertical-align: middle;
    }
    input {
        border: none;
        border-bottom: 1px solid transparent;
        outline: none;

        &:focus, &:active {
            border-bottom: 1px solid #eee;
        }
    }

    input, textarea {
        &.halfwidth {
            width: 40%;
        }
        &.full-width {
            width: 97%;
        }
    }

    label {
        color: #999;
        display: block;

        &.date-range__label {
            display: inline-flex;
            font-size: 0.75em;
            text-transform: uppercase;
            width: 49%;
        }

        &.inline_label {
            display: inline;
        }
    }
}
.ui-dialog form {
    input {
        border: 1px solid #999;
    }
}

.image_preview {
    text-align: center;

    .form__series & {
        float: right;
    }

    img {
        border: 1px solid #999;
        display: block;
        margin: 0 auto 10px auto;
        padding: 2px;
        width: 250px;

        &.preview__small {
            width: 100px;
        }
    }
}
