a.profile-photo, a.profile-photo:visited {
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  height: 75px;
  margin: auto;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 75px;

  i, img {
    margin: auto;
  }

  i {
    display: none;
  }

  img {
    vertical-align: middle;
  }
}