@import '../shared/_reset';

$information-small: "screen and (min-width: 320px)";
$information-medium: "screen and (min-width: 480px)";
$information-large: "screen and (min-width: 480px)";

$admin__container--collapsed-width: 45px;
$admin__container--expanded-width: 150px;
$admin__container-button--hover: #0cf;
$admin__container-add-button: #069;
$admin__search_color: gray;

$admin__tabs__highlighted-color: #069;
$admin__tabs-background: #fff;

$admin__button-bar-background-color: #eee;

body {
	font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-display: swap;
	overflow-x: hidden;
}

@import 'mixins.scss';

@import '../shared/_col';
@import '../shared/_8cols';
@import '../shared/_3cols';

@import '../shared/_forms';
	@import '_form__signin';
	@import '_form__setup';
	@import '../shared/_buttons';
	@import '_profile';

@import '_tabs';
@import '_dialog';
@import '_badge';
@import '_editor';
@import '_dropzone';

@import '_widget__posts';
@import '_pagination';

.admin__header {
	border-bottom: 1px solid #eee;

	@import '_user-menu';
	@import '_search';
}

@import '_data-list';

@import '_post__edit';
@import '_bonsai';

@import '_warnings';


.admin__form__brand {
	margin-left: -60px;
	margin-top: -50px;
	position: absolute;
}


.switch-wrapper {
	display: inline-block;
	position: relative;
	top: 3px;

	div {
		clear: none;
	}
}

.mapbox {
	background-color: #eee;
	border: 1px solid #999;
	height: 200px;
	margin-top: 5px;
	overflow: hidden;
	text-align: center;
	width: 98%;

	p {
		margin: 85px 20px;
	}
}

.ui-cross {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin: 20px 10px;
	padding: 5px;
	position: absolute;
	right: 0;
}

.admin__container {
	position: absolute;
	top: 5px;
	z-index: 1000;

	.admin__nav-main {
		height: 100%;
	}

	&.admin__container--expanded {
		height: 100%;
		width: 80%;
		-webkit-box-shadow: 20px 0px 20px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 20px 0px 20px 0px rgba(0,0,0,0.3);
		box-shadow: 20px 0px 20px 0px rgba(0,0,0,0.3);
	}

	.admin__nav-main__link {
		margin-left: 10px;

		a, a:visited {
			border: 1px solid #999;
			border-radius: 5px;
			color: #999;
			padding: 5px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.admin__nav-main__list, .admin__identity {
		display: none;
	}

	.admin__nav-main__list {
		background: #333;
		height: 100%;
		list-style-type: none;
		font-size: 0.8em;
		margin: 0;
		padding: 0;
		text-transform: uppercase;

		.menu__active {
			border-left: 2px solid #aaa;
		}
		
		a:link, a:visited {
			color: #fff;
			display: block;
			padding: 5px;
			text-decoration: none;
		}
        a:hover {
            background-color: rgba(255,255,255,0.05);
        }
		a:hover, a:hover i, a:hover span {
			color: $admin__container-button--hover;
		}

		i {
			vertical-align: middle;
		}

		span {
			margin-left: 10px;
			vertical-align: middle;
		}

		ul {
			background: #222;
			list-style-type: none;
			display: none;
		}

		.button.admin__add-content {
			display: block;
			margin-bottom: 20px;

			@media #{$information-medium} {
				background-color: $admin__container-add-button;
				border: 1px solid darken($admin__container-add-button, 10%);
				margin:5px auto 50px auto;

				&:hover {
					background-color: $admin__container-button--hover;
					border: 1px solid $admin__container-add-button;
					color: #fff;
                    i {
                      color: #fff;
                    }
				}
				& span {
					display: none;
					height: auto;
					padding: 0 0 0 10px;
				}
			}
		}
		.admin__nav-expand, .admin__nav-collapse {
			display: none;
		}
	}

	@media #{$information-medium} {
		background-color: #333;
		color: #fff;
		height: 100%;
		left: 0;
		position: fixed;
		//overflow: hidden;
		top: 0;
	
		.admin__nav-main__list, .admin__identity {
			display: block;
		}

		&.admin__container--collapsed {
			width: $admin__container--collapsed-width;

			ul {
				li {
					margin: 5px auto;
					padding: 5px;
				}
				span {
					display: none;
				}
				ul {
					display: none;
				}
			}

			.admin__identity {
				height: 35px;
				width: $admin__container--collapsed-width - 5;
			}

			.admin__nav-expand {
				display: block;
			}
			li.admin__nav-expand {
				margin-top: 50px;
			}

			ul.admin__nav-new {
				left: 40px;
				top: 85px;
			}
		}

		&.admin__container--expanded {
			width: $admin__container--expanded-width;

			ul {
				li {
					margin: 10px 5px;
					text-align: left;
					vertical-align: middle;

					span {
	    				display: inline-block;
	    				height: 0.9em;
	    				padding-left: 5px;
						vertical-align: middle;
	    			}
				}

				ul {
					display: none;
				}
			}

			.admin__identity {
				height: 75px;
				width: $admin__container--expanded-width - 5;
			}

			.admin__nav-collapse {
				display: block;
			}
			li.admin__nav-collapse {
				margin-top: 50px;
			}

			.button.admin__add-content {
				padding: 10px;
				vertical-align: middle;
				width: 7em;

				span {
					display: inline-block;
					vertical-align: middle;
				}
			}

			ul.admin__nav-new {
				left: 130px;
				top: 130px;
			}
		}
	}
}


@media #{$information-medium} {
	.mobile-only, .material-icons.mobile-only {
		display: none;
	}

	.admin__container {
		.admin__identity {
			background: transparent url(/assets/imgs/incc/inachis.png) no-repeat 50% 50%;
			background-size: contain;
			display: block;
			margin:0 auto 40px auto;

			span {
				display: none;
			}
		}

		.admin__nav-main__list {
			li {
				text-align: center;
				vertical-align: middle;

				a, a:visited {
					color: #fff;
					text-decoration: none;
				}
			}

			ul, li {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
		}
	}

	ul.contextual-menu {
		background-color: #333;
		box-shadow: rgba(0, 0, 0, 0.3) 20px 0px 20px 0px;
		color: #fff;
		display: none;
		position: absolute;
		width: 13em;
		z-index: 5;

		li {
			padding: 0 5px;

			span {
				display: inline-block;
				/*height: 1.8em;*/
				padding-left: 5px;
				vertical-align: middle;
				width: 6em;
			}
		}
	}

	.admin__body-container {
		margin-left: $admin__container--collapsed-width + 15;
		//padding-top:20px;
	}
}

#series_addItem {
	float:right;
	margin: -5px 20px 0 0;
}

.fixed-bottom-bar {
	background: $admin__button-bar-background-color;
	border-top: 1px solid #ddd;
	bottom: 0;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	z-index: 999;

	@media #{$information-medium} {
		left: $admin__container--collapsed-width;
	}
}