{
	"repository": {
		"dbms": "mysqli",
		"host": "",
		"port": "",
		"database": "",
		"username": "",
		"password": ""
	},
    "twig": {
    	"options": {
    		"auto_reload": true
		},
        "extensions": [ ]
    }
}
