.badge {
	background-color: #069;
	color: #fff;
	border: 1px solid #069;
	border-radius: 40px;
	font-size: 0.7em;
	padding: 5px 10px;


	&.badge__empty {
		background-color: #ddd;
		border-color: #ddd;
	}
}