.bonsai {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  input {
    width: auto;
  }

  label {
    margin-left: 10px;
  }

  li {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    padding-left: 1.3em; /* padding for the thumb */

    &.has-children > .thumb:after {
      content: '▸';
    }

    &.has-children.expanded > .thumb:after {
      content: '▾';
    }

    &.collapsed > .bonsai {
      height: 0;
      overflow: hidden;
    }
  }

  .all, .none {
    cursor: pointer;
  }

  .thumb {
    margin: -1px 0 0 -1em; /* negative margin into the padding of the li */
    position: absolute;
    cursor: pointer;
  }
}
