.setup {
  & > h1 {
    margin-left: 5px;
  }
  & > p {
    margin-left: 75px;
    padding-right: 10px;
  }
  .form__setup {
    @include box-shadow(5px, 7px, 14px, 0, rgba(0,0,0,0.26));

    legend {
      display: none;
      font-size:1.2em;
      font-weight: bold;
      padding-top: 30px;
    }
  }
}
