$form-background__light: #dde8ed;
$form-label__light: #666;
$form-input__complete: #090;

.form__login {
	background: $form-background__light;
	max-width: 450px;

	fieldset {
		border: none;
		margin: 15px 50px;
		padding: 0;
	}

	input {
		border: 2px solid transparent;
		margin-bottom: 10px;
		width: 90%;
	}
	input[value^=""], .input__complete {
		border-color: $form-input__complete;
	}

	label {
		color: $form-label__light;
		display: block;
		font-size: 0.85em;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	legend {
		display: none;
	}
	
	p:has(button) {
		margin: 0;
	}
}
