$admin__user__notification__colour: #b01c3f;

.admin__user {
	float: right;
	margin: 8px 20px;

	a[href="#admin__user__options"] {
		&:after {
		    content: "";
		    border-style: solid;
		    border-width: 5px 5px 0 5px;
		    border-color: #aaa transparent transparent transparent;
		    left: 3em;
		    position: relative;
		    top: -1.25em;
		}
	}

	a, a:visited, button {
		background-color: transparent;
		border: none;
		color: #666;
		cursor: pointer;
		text-decoration: none;
	}

	img {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 50%;
		padding: 1px;
	}

	ul {
		@include box-shadow(10px, 10px, 39px, -12px, rgba(0,0,0,0.61));

		background-color: #fff;
		border: 1px solid #eee;
		display: none;
		font-size: 0.85em;
		list-style-type: none;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 45px;

		li {
			text-align: right;

			&.divider {
				border-top: 1px solid #eee;
			}

			a, a:visited, button, p {
				padding: 5px;
			}

			a, a:visited{
				display: block;
			}

			a:hover, button:hover {
				background-color: #eee;
			}

			span.material-icons {
				vertical-align: middle;
			}
		}
	}

	.admin__user__notifications {
	    background-color: $admin__user__notification__colour;
	    border-radius: 50%;
	    color: #fff;
	    font-size: 0.7em;
	    right: 65px;
	    padding: 2px 5px;
	    position: absolute;
	    top: 35px;
	}
}