.admin__user {
	float: right;
	margin: 8px 20px;

	a, a:visited, button {
		background-color: transparent;
		border: none;
		color: #666;
		cursor: pointer;
		text-decoration: none;
	}

	img {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 50%;
		padding: 1px;
	}

	ul {
		@include box-shadow(10px, 10px, 39px, -12px, rgba(0,0,0,0.61));

		background-color: #fff;
		border: 1px solid #eee;
		display: none;
		font-size: 0.85em;
		list-style-type: none;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 45px;

		li {
			padding: 5px;
			text-align: right;

			&.divider {
				border-top: 1px solid #eee;
			}
		}
	}

	.admin__user__notifications {
	    background-color: red;
	    border-radius: 50%;
	    color: #fff;
	    font-size: 0.7em;
	    right: 50px;
	    padding: 2px 5px;
	    position: absolute;
	    top: 35px;
	}
}