.admin__user {
	float: right;
	margin: 8px 20px;

	a, a:visited {
		color: #666;
		text-decoration: none;
	}

	img {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 50%;
		padding: 1px;
	}

	ul {
		background-color: #eee;
		border:1px solid #ccc;
		display: none;
		list-style-type: none;
		padding: 0;
		position: absolute;
		right: 5px;
		top: 40px;

		li {
			padding: 5px;
			text-align: right;

			&.divider {
				border-top: 1px solid #ccc;
			}
		}
	}
}