<div class="col span_2_of_8">
    <h4>Recent Trips</h4>
    {% if trips is defined and trips is not empty %}
        {% for trip in trips %}
            <p><a href="#"><strong>Antarctica</strong></a><br />Here is a bit of text that describes the trip to make you want to read more</p>
        {% endfor %}
        <p><a href="/trips">More Trips…</a></p>
    {% else %}
        <p>There aren't any yet!</p>
    {% endif %}
</div>
