<div class="col span_2_of_8">
    <h4>Recent Races</h4>
    {% if races is defined and races is not empty %}
        {% for race in races %}
            <p><a href="{{ race.urls|first.link }}"><strong>{{ race.title }}</strong></a> <!-- (6 mile) --><br />{{ race.featureSnippet|slice(0, 200) }}…</p>
        {% endfor %}
        <p><a href="/running">More Running…</a></p>
    {% else %}
        <p>There aren't any yet!</p>
    {% endif %}
</div>
