.form {
	input, textarea, select {
	    border: 1px solid #999;
	    border-radius: 5px;
		font-size: 1em;
	    line-height: 1.5em;
	    padding: 5px 10px;
	    width: 15em;
	}
	input.checkbox {
		margin-right: 0.5em;
		width: auto;
	}

	button:hover {
		cursor: pointer;
	}
}
