.form {
	input, textarea, select {
	    border: 1px solid #999;
		font-size: 1em;
	    line-height: 1.5em;
	    padding: 5px 10px;
	    width: 15em;
	}
	input.checkbox {
		margin-right: 0.5em;
		width: auto;
	}
	fieldset {
		border: none;
	}
	legend {
		display: none;
	}

	button:hover {
		cursor: pointer;
	}

	.field__wide {
		width: 30em;
	}
}
