<section class="section--boxed action-information">
    {% if data_types|default(null) is not empty %}
        {% for type in data_types %}
            {{ type }}
        {% endfor %}
    {% endif %}
</section>
