{% extends "admin__structure__main.html.twig" %}
{% block content %}

{% block profile_pre %}{% endblock profile_pre %}

{% block profile %}

<div class="col span_4_of_8">
	details
</div>
<div class="col span_4_of_8">
	photo
</div>

{% endblock profile %}


{% block profile_post %}{% endblock profile_post %}
{% endblock content %}
