{% extends "admin__structure__main.html.twig" %}
{% block content %}

<div class="col span_2_of_8"></div>
<div class="col span_4_of_8 container__login">

{% block form_login_pre %}{% endblock form_login_pre %}
{% block form_login %}
	<h1>{{ settings.siteTitle }}</h1>
	<img alt="An image of an Inachis io butterfly" class="admin__form__brand" src="/inadmin/assets/images/inachis.png" />

	{{ include('forms/form.html.twig', { 'form':form }) }}

	<p><a href="/inadmin/forgot-password" title="Reset your password"><span>{{ lang.adminForgotPassword }}Forgot your password?</span></a></p>
{% endblock form_login %}
{% block form_login_post %}{% endblock form_login_post %}

</div>
<div class="col span_2_of_8"></div>

{% endblock content %}
