{% extends "/inadmin/structure/main.html.twig" %}
{% block content %}

    {% block dashboard_pre %}{% endblock dashboard_pre %}

    {% block dashboard %}

        <div class="col span_4_of_8">
            {% include "inadmin/dashboard/activity.html.twig" %}
        </div>

        <div class="col span_3_of_8">
            {% include "inadmin/dashboard/stats.html.twig" %}
        </div>

    {% endblock dashboard %}


    {% block dashboard_post %}{% endblock dashboard_post %}
{% endblock content %}