<section class="reset-confirm">
    <h2>Thank you,</h2>
    <p>If your account was found, you will soon receive an email to the email address you provided with instructions to reset your password.</p.
</section>