{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    <div class="col span_2_of_8"></div>
    <div class="col span_4_of_8">

        {% block form_forgot_pre %}{% endblock form_forgot_pre %}
        {% block form_forgot %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="g-reCAPTCHA" data-sitekey="%KEY_GOES_HERE%"></div>

            {{ form_end(form) }}

        {% endblock form_forgot %}
        {% block form_forgot_post %}{% endblock form_forgot_post %}
    </div>
    <div class="col span_2_of_8"></div>

{% endblock content %}
