{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

<div class="col span_2_of_8"></div>
<div class="col span_4_of_8 container__login">

    {% block form_forgot_pre %}
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock form_forgot_pre %}
    {% block form_forgot %}
    <div class="col span_1_of_2 logo">
        <h1>Login to</h1>
        <h2>{{ settings.siteTitle }}</h2>
    </div>
    <div class="col span_1_of_2">
        <section class="reset-confirm">
            <h2>Thank you,</h2>
            <p>If your account was found, you will soon receive an email to the email address you provided with instructions to reset your password.</p.
        </section>
    </div>
    {% endblock form_forgot %}
    {% block form_forgot_post %}{% endblock form_forgot_post %}

</div>
<div class="col span_2_of_8"></div>

{% endblock content %}
