{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block post_list_pre %}{% endblock post_list_pre %}

    {% block post_list %}

        <div class="col span_8_of_8 widget-posts ui-tabs-external">
            <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active{% if page.tab == 'post' %} ui-state-active{% endif %}">
                    <a href="{{ settings.domain ~ path('app_zzpage_getpostlistadmin', {'type': 'post'}) }}">Posts</a>
                </li>
                <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active{% if page.tab == 'page' %} ui-state-active{% endif %}">
                    <a href="{{ settings.domain ~ path('app_zzpage_getpostlistadmin', {'type': 'page'}) }}">Pages</a>
                </li>
                <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active">
                    <a href="{{ settings.domain ~ path('app_import_index') }}">Import</a>
                </li>
            </ul>

{# 'additional_classes': 'status-' ~ post.status ~ ' visibility-' ~ post.visibility, #}
            {% include 'inadmin/partials/list.html.twig' with {
                'className': 'form__posts',
                'type': 'post',
                'dataset': posts,


                'offset': page.offset,
                'limit': page.limit,
                'total': posts.count,

                'snippet_description': 'content',
                'slug_prefix': page.tab,
                'slug': 'urls[0].link',

                'url_add': path('app_zzpage_getpostadmin', {'type': page.tab}),
                'url_result': path('app_zzpage_getpostlistadmin'),

                'badges': {
                    'draft': {
                        'field': 'status',
                        'condition': 'draft',
                        'className': 'badge__draft'
                    },
                    'private': {
                        'field': 'visibility',
                        'condition': false,
                        'className': 'badge__private'
                    }
                },

                'actions': {
                    'delete': {
                        'button_class': 'button--negative button--delete',
                        'data': {
                            'form-action': ''
                        },
                        'icon': 'delete_forever',
                        'title': 'Delete',
                    },
                    'private': {
                        'button_class': 'button--privacy',
                        'data': {
                            'form-action': ''
                        },
                        'icon': 'remove_red_eye',
                        'title': 'Make private',
                    },
                    'public': {
                        'button_class': 'button--privacy',
                        'data': {
                            'form-action': ''
                        },
                        'icon': 'remove_red_eye',
                        'title': 'Make public',
                    },
                }

                'filters': {
                    'Status': {
                        '': 'All',
                        'draft': 'Draft',
                        'published': 'Published',
                    },
                    'Visibility': {
                        '': 'All',
                        'private': 'Private',
                        'public': 'Public',
                    }
                },

                'filter_values': filters,

                'show_search': true,
            }
            %}

        </div>
    {% endblock post_list %}

    {% block post_list_post %}{% endblock post_list_post %}
{% endblock content %}






