{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block series_list_pre %}{% endblock series_list_pre %}

    {% block series_list %}
        <div class="col span_8_of_8 widget-posts">
            <a class="button button--positive" href="{{ path('app_series_new') }}"><span class="material-icons">add</span> Create Series</a>
        {% include 'inadmin/partials/list.html.twig' with {
                'className': 'form__series',
                'type': 'series',

                'offset': page.offset,
                'limit': page.limit,
                'total': dataset.count,

                'snippet_description': 'description',
                'slug_prefix': 'series/edit',
                'slug': 'id',

                'url_add': path('app_series_new'),
                'url_result': path('app_zzpage_getpostlistadmin'),
            }
        %}
        </div>
    {% endblock series_list %}


    {% block series_list_post %}{% endblock series_list_post %}
{% endblock content %}