{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block post_list_pre %}{% endblock post_list_pre %}

    {% block post_list %}
        <div class="col span_8_of_8 widget-posts">

        {#{% include 'inadmin/partials/list.html.twig' with {#}
                {#'className': 'form__series',#}
                                {##}
            {#}#}
        {#%}#}

        </div>
    {% endblock post_list %}


    {% block post_list_post %}{% endblock post_list_post %}
{% endblock content %}