{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block settings_pre %}{% endblock settings_pre %}

    {% block settings %}

        <div class="col span_4_of_8">

        </div>

    {% endblock settings %}


    {% block settings_post %}{% endblock settings_post %}
{% endblock content %}
