{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block url_list_pre %}{% endblock url_list_pre %}

    {% block url_list %}
        <div class="col span_8_of_8 widget-data-list">
            {% include 'inadmin/partials/list.html.twig' with {
                'className': 'form__url',
                'type': 'url',

                'offset': page.offset,
                'limit': page.limit,
                'total': dataset.count,

                'item_title': 'link',
                'snippet_description': 'content.title',
                'additional_classes': 'default',
                'inline': true,
                'showDate': false,
                'url_result': path('app_url_list'),

                'badges': {
                    'default': {
                        'field': 'default',
                        'condition': 'default',
                        'className': 'badge__default'
                    }
                },

                'actions': {
                    'delete': {
                        'button_class': 'button--negative button--delete',
                        'icon': 'delete_forever',
                        'title': 'Delete',
                    },
                }
            }
            %}
        </div>
    {% endblock url_list %}


    {% block url_list_post %}{% endblock url_list_post %}
{% endblock content %}
