@font-face {
  font-family: 'OptimusPrincepsSemiBold';
  src: url('/assets/fonts/OptimusPrincepsSemiBold.eot');
  src: url('/assets/fonts/OptimusPrincepsSemiBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/OptimusPrincepsSemiBold.woff') format('woff'),
  url('/assets/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Bold';
  src: url('/assets/fonts/Bitter-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Regular';
  src: url('/assets/fonts/Bitter-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
