@import 'fonts';

body {
  margin: 0 auto;
  padding: 0;
  font: 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
  color: #000;
}

@import '../shared/_reset';
@import '../shared/_col';
@import '../shared/_8cols';

h1, h2, h3, h4, h5, h6 {
  font-family: Bitter-Regular, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
  font-weight: normal;
  margin-top: 10px;
  letter-spacing: -1px;
}

h4 {
  color: #444;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1.25;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.alignleft {
  display: inline;
  float: left;
  margin: 3em 1.8em 3em 0;
}

.assistive-text, #skiptomain, .visually-hidden {
  display: none;
}

#headcontainer {
  &.collapsed {
    background:#000;
    color:#fff;
    opacity:0.75;
    position:fixed;
    width:100%;
    z-index:100;
    h1 {
      float:left;
      font-size:1em;
      letter-spacing: 0.04em;
      padding:2px 22px;

      a, a:visited {
        color: #fff;
        text-decoration: none;
      }
    }
    .introtext {
      color:#ccc;
      font-size:0.75em;
      float:left;
      padding:3px;
    }
  }
  &.expanded {
    background:#999 url(/assets/mastbg.jpg) center -12em no-repeat;
    background-size: cover;
    border-bottom:1px solid #333;
    color:#fff;
    /*min-height:180px;*/
    min-height:250px;
    position:relative;
    width:100%;

    h1 {
      background: url(/assets/imgs/wanderingTheWorld.svg);
      background-size: 300px 95px;
      bottom: 1em;
      display: block;
      height: 95px;
      left: 20px;
      position: absolute;
      text-indent: -9999px;
      width: 300px;
    }

    p {
      bottom:0;
      color:#bbb;
      left:20px;
      position:absolute;
      text-shadow:1px 1px 1px #000;
    }
  }
  nav {
    float:right;
    position:fixed;
    right:0;
    z-index:100;

    a, a:visited {
      background:#000;
      color:#fff;
      display:block;
      letter-spacing:0.15em;
      font-size:0.75em;
      opacity:0.75;
      padding:15px 35px;
      text-decoration:none;
      text-transform:uppercase;
    }
    a:hover {background:#069;opacity:1;}

    ul li:first-child a:hover {background:#690;}
    ul li:last-child a:hover {background:#f60;}

    ul,li {float:left;list-style-type:none;padding:0;margin:0;}
  }
}


#footercontainer {
  border-top: 1px solid #000;
  background: #222;
  /*background: #f5f5f5;*/

  a, a:visited {
    color:#ccc;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover {color:#fff;}

  footer {
    clear: both;
    width: 80%;
    font-size: 0.8125em;
    max-width: 92.3em;
    margin: 0 auto;
    padding: 20px 0px 10px 0px;
    color: #999;

    .backtotop {text-align:right;font-size:0.9em;}
    .subscribe {
      font-size:0.9em;
      a, a:visited {padding-left:25px;}
      h4 {font-size:1.1em;text-transform:uppercase;}
    }

    h4 {
      color:#ccc;
      letter-spacing:0.05em;
    }
    ul {list-style-type:none;margin:0;padding:0;}
    li {margin:1em 0;}
  }

  #smallprint {
    margin-top: 20px;
    line-height: 1.4em;
    text-align: center;
    color: #999;
    font-size: 0.923em;
  }
}

.breaker {clear:both;}

#maincontent {
  background:#333 url(/assets/imgs/debut_dark.png);
  border-top:1px solid #666;

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.blogbox {
  background:#fff;
  margin:40px 0;
  padding:3em;
  position:relative;
  -webkit-box-shadow: 0 5px 6px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 5px 6px 1px rgba(0,0,0,0.35);
  box-shadow: 0 5px 6px 1px rgba(0,0,0,0.35);

  &::before {
    border-left:1px solid #eee;
    content:' ';
    display:block;
  }
  a.blogbox_image, a.blogbox_image:visited {
    background:#333;
    display:block;
    height:100%;
    overflow:hidden;
    position:absolute;
    top:0;
    width:50%;
  }
  header {
    margin-bottom:1.7em;
    text-align:center;
  }
  header::after {
    border-bottom:1px solid #ccc;
    content:' ';
    display:block;
    margin:-10px auto 0 auto;
    width:25%;
  }
  img {
    /*height:100%;*/
    position:absolute;
    top:-50%;
    left:-50%;
    width:auto;
  }
  p {
    color:#666;
  }
  .post-details {
    color:#888;
    font-size:0.7em;
    margin-top:2.5em;
    text-transform:uppercase;
  }
  a, a:visited {
    color:#000;
    text-decoration:none;
  }
  a:hover {
    color:#666;
  }
}

article.left {
  a.blogbox_image, a.blogbox_image:visited {
    left: 0;
  }
  div {
    margin-left:50%;
    padding-left:3em;
  }
  img {
    right:0;
  }
}
article.right {
  a.blogbox_image, a.blogbox_image:visited {
    right: 0;
  }
  div {
    margin-right:50%;
    padding-right:3em;
  }
  //img {
  //  left: 0;
  //}
}

#social_follow {
  border-collapse:separate;
  border-spacing:15px 5px;
  display:table;
  margin:0 auto 20px auto;
  a, a:visited {
    background:transparent url(/assets/imgs/social.png) no-repeat 0 0;
    display:table-cell;
    height:61px;
    -webkit-transition:none;
    transition:none;
    width:61px;
  }
  a:hover {
    background-position-y:-71px;
  }
  span {
    display:none;
  }
  .deviantart-follow-button {
    background-position-x:-402px;
  }
  .facebook-follow-button {
    background-position-x:-81px;
  }
  .googleplus-follow-button {
    background-position-x:-162px;
  }
  .pinterest-follow-button {
    background-position-x:-242px;
  }
  .rss-follow-button {
    background-position-x:-322px;
  }
  .youtube-follow-button {
    background-position-x:-483px;
  }
}


article.post {
  background: #fff;
  font-family: 'Century Schoolbook', Century, Garamond, serif;
  margin: 1.5em auto 3em auto;
  padding: 3em;
  -webkit-box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.35);

  blockquote {
    border-left: 4px solid #069;
    color: #555;
    font-style: italic;
    word-break: break-word;

    p {
      margin: 0.5em 1em;
      padding: 0;
    }
  }

  ul, ol {
    font-size: 1.25em;
    margin: 2em;
  }

  .entry-title {
    font-size: 2.75em;
    font-variant: normal;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
  }

  .entry-subtitle {
    text-align: center;
  }

  .byline {
    display: none;
  }

  .entry-content {
    background: white url(/assets/imgs/fleuron.png) no-repeat 50% 100%;
    margin-bottom: 75px;
    padding-bottom: 75px;

    & > p:first-child:first-line {
      font-variant: small-caps;
      letter-spacing: 0.05em;
    }

    & > p:first-child:first-letter {
      color: #000;
      float: left;
      font-size: 4.5em;
      line-height: 43px;
      margin: 9px 5px 0 0;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 1.23em;
      line-height: 1.95em;
      margin: 2em 1em;
    }

    .caption-text {
      font-size: 1em;
      font-style: italic;
      margin: 0;
      text-align: center;
    }
  }

  .entry-meta {
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
  }

  .post-navigation {
    font-size: 1.1em;

    a, a:visited {
      color: #000;
      text-decoration: none;
    }
  }
}

.outer {
  width: 400px;
  overflow: hidden;
}

.inner {
  display: inline-block;
  position: relative;
  right: -50%;

  img {
    position: relative;
    left: -50%;
  }
}

@media only screen and (max-width: 500px) {
  img {
    max-width: 100%;
  }
  article.post {
    padding: 3em 1em;
  }
  article.post .entry-content p {
    margin: 2em 0;
  }
}

@media only screen and (max-width: 375px) {
  article.right a.blogbox_image, article.right, a.blogbox_image:visited {
    right: auto;
  }
  .blogbox a.blogbox_image, .blogbox a.blogbox_image:visited {
    height: auto;
    position: static;
    width: auto;
  }
  article.right img {
    left: auto;
  }
  .blogbox {
    padding:1em;
  }
  .blogbox img {
    height: auto;
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0;
    background: #fff;
  }
  article.left div, article.right div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; } }


// @import 'responsive';
